@import '../../styles/_varibles.scss';
@import '../../styles/_mixins.scss';

.navbarContainer {
  width: 100%;
  background: linear-gradient(
    180deg,
    #deedf1 12.06%,
    rgba(225, 232, 234, 0) 116.31%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  height: 5.625rem;

  div {
    display: flex;
  }
}

.navbarList {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    margin-right: 5.313rem;

    a {
      text-decoration: none;
      color: $color-grey900;
      font-size: $fs-p1;
      font-weight: $font-weight-medium;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      transition: color 0.3s, border-bottom 2s ease-in;

      &:hover {
        color: $color-primary;
        border-bottom: 0.063rem solid $color-primary;
      }
    }
  }

  @include respond(tablet) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  input[type='checkbox'] {
    display: none;
  }

  @include respond(tablet) {
    label {
      display: flex;
      flex-direction: column;
      width: 70px;
      cursor: pointer;

      span {
        background: $color-primary;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) {
          width: 50%;
        }

        &:nth-of-type(2) {
          width: 100%;
        }

        &:nth-of-type(3) {
          width: 75%;
        }
      }
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox']:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(8px, 0px);
    }
    input[type='checkbox']:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type='checkbox']:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(30px, -11px) rotatez(45deg);
    }
  }
}

.open {
  background-color: #dfedf2;
  display: block;
  position: fixed;
  width: 100%;
  will-change: transform;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: scroll;
}
