@import '../../styles/_varibles.scss';
@import '../../styles/_mixins.scss';

.navbarContainer {
  width: 100%;
  background: linear-gradient(
    180deg,
    #deedf1 12.06%,
    rgba(225, 232, 234, 0) 116.31%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  height: 5.625rem;

  div {
    display: flex;
  }
}

.navbarContainer.open {
  justify-content: flex-end;
  background-color: #dfedf2;
}

.navbarItems {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbarList {
  display: flex;
  align-items: center;

  li {
    list-style: none;
    margin-right: 5.313rem;

    a {
      text-decoration: none;
      color: $color-grey900;
      font-size: $fs-p1;
      font-weight: $font-weight-medium;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      transition: color 0.3s, border-bottom 2s ease-in;

      &:hover {
        color: $color-primary;
        border-bottom: 0.063rem solid $color-primary;
      }
    }

    @include respond(tablet) {
      display: none;
    }
  }
}

.mobileContainer {
  display: none;

  @include respond(tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}

.menuButton {
  display: none;

  @include respond(tablet) {
    position: relative;
    width: 2.5rem;
    height: 0.25rem;
    background-color: $color-primary;
    border-radius: 0.313rem;
    transition: all 0.5s ease-in-out;
  }
}

.menuButton::before,
.menuButton::after {
  display: none;

  @include respond(tablet) {
    content: '';
    display: flex;
    position: absolute;
    width: 2.5rem;
    height: 0.25rem;
    background: $color-primary;
    border-radius: 0.313rem;
    transition: all 0.5s ease-in-out;
  }
}

.menuButton::before {
  transform: translateY(-1rem);
}

.menuButton::after {
  transform: translateY(1rem);
}

.mobileContainer.open .menuButton {
  transform: translateX(-3.125rem);
  background: transparent;
}

.mobileContainer.open .menuButton::before {
  transform: rotate(45deg) translate(2.188rem, -2.188rem);
}

.mobileContainer.open .menuButton::after {
  transform: rotate(-45deg) translate(2.188rem, 2.188rem);
}

.mobileList {
  position: fixed;
  z-index: 5;
  background-color: #dfedf2;
  width: 100%;
  height: 100%;
  color: $color-grey900;
  display: flex;
  flex-direction: column;

  ul {
    z-index: 2;
    margin: 2rem auto;

    li {
      list-style: none;
      padding: 0.7rem 0;

      a {
        text-decoration: none;
        font-size: $fs-h4;
        font-weight: $font-weight-medium;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        transition: color 0.3s, border-bottom 2s ease-in;

        &:hover {
          cursor: pointer;
          color: $color-primary;
          border-bottom: 0.063rem solid $color-primary;
        }
      }
    }
  }

  @include respond(mobile) {
    ul {
      margin: 2rem 3rem;

      li {
        a {
          font-size: $fs-p1;
          font-weight: $font-weight-medium;
        }
      }
    }
  }
}

.logoutBtnContainer {
  border-top: 0.063rem solid;
  border-color: $color-grey600;
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  
  button {
    margin-top: 2rem;
    background: #ff6e83;
    box-shadow: 0.5rem 0.688rem 1.563rem 0.063rem rgba(98, 98, 98, 0.13);
    border-radius: 0.938rem;
    border: transparent;
    padding: 0.5rem;
    width: 12rem;
    color: white;
    font-size: $fs-h4;
  }

  @include respond(mobile) {
    width: 80%;
    
    button {
      font-size: $fs-p3;
    }
  }
}

.iconWrapper {
  margin-left: 2rem;
}