@import '../../styles/_varibles.scss';
@import '../../styles/_mixins.scss';

.footerContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 11.5rem;

  h5 {
    color: $color-grey900;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    margin: 0 0.8rem 0.5rem;
  }

  p {
    color: $color-grey900;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    font-weight: $font-weight-regular;
  }

  @include respond(mobile) {
    height: 17rem;
    flex-direction: column;
  }
}

.leftColumn {
  background-color: #e9f0f2;
  position: relative;
  width: 30%;
  padding: 2.125rem 0 2.125rem 6rem;

  @include respond(tablet) {
    padding-left: 2rem;
  }

  @include respond(mobile) {
    width: 100%;
    padding: 2rem 0 2rem 2rem;
  }
}

.rightColumn {
  position: relative;
  display: flex;
  width: 70%;
  padding: 2.125rem 6rem 2.125rem 0;
  justify-content: flex-end;

  h5 {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  @include respond(tablet) {
    padding: 2rem;
    justify-content: space-around;
    p {
      display: none;
    }
  }

  @include respond(mobile) {
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    p {
      display: none;
    }
  }
}

.leftName {
  padding-right: 4rem;

  @include respond(tablet) {
    padding-right: 1rem;
  }

  @include respond(mobile) {
    padding-right: 1rem;
  }
}

.contactInfo {
  display: flex;
  padding: 0.2rem 1rem;

  p {
    margin-left: 0.5rem;
  }

  @include respond(mobile) {
  }
}

.iconWrapper {

  @include respond(tablet) {
    display: flex;
    padding: 0;
  }

  @include respond(mobile) {
    display: flex;
    padding: 0;
  }
}

.balloonsImageLeft {
  position: absolute;
  top: 0;
  right: -5rem;

  @include respond(mobile) {
    display: none;
  }
}

.balloonsImageRight {
  position: absolute;
  top: -3rem;
  right: 0;

  @include respond(mobile) {
    display: none;
  }
}
