.menuContainer {
  position: relative;
}

.menu {
  background: #ffffff;
  border-radius: 0.5rem;
  position: absolute;
  top: 3.75rem;
  right: 0;
  width: 18.75rem;
  box-shadow: 0 0.063rem 0.5rem rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1.25rem);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  cursor: pointer;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 0.063rem solid #dddddd;
  cursor: pointer;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 0.938rem 1.25rem;
  display: block;
}

.menuTrigger {
  cursor: pointer;
  margin: 0.5rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;

  img {
    height: 3.75rem;
    width: 3.75rem;
    object-fit: cover;
  }
}
