@import 'varibles';
@import 'mixins';

.homepageContainer {
  min-height: calc(100vh - 17.125rem);
  display: flex;
  position: relative;
  z-index: -1;

  @include respond(tablet) {
    flex-direction: column;
  }
}

.homepageContainer .leftContainer {
  @include respond(tablet) {
    order: 2;
  }
}

.homepageContainer .rightContainer {
  @include respond(tablet) {
    order: 1;
  }
}

.leftContainer {
  margin-left: 4.375rem;
  margin-bottom: 4rem;
  width: 25rem;
  min-height: 48.438rem;
  box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  @include respond(tablet) {
    width: 90%;
    min-height: 10rem;
    margin: 1rem 2rem;
  }

  @include respond(mobile) {
    width: 90%;
    margin: 2rem auto 5rem auto;  
  }
}

.eventsWrapper {
  width: 100%;
  
  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c1c1c1;

    @include respond(tablet) {
      padding: 1rem;
    }
  }
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin-top: 2rem;

  @include respond(tablet) {
    justify-content: flex-start;
    padding: 2rem;
  }
}

.eventCard {
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  width: 6.5rem;
  height: 6.2rem;
  margin: 1rem 0.5rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h5 {
    padding-top: 0.5rem;
    font-weight: $font-weight-bold;
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
    text-align: center;
    padding: 0 0.2rem;
  }
}

.cardImg {
  margin-top: -1rem;
}

.cardImgReminder {
  margin: 0.2rem;
}

.emptyMessage {
  font-size: $fs-p2;
  font-weight: $font-weight-medium;
  text-align: center;
  margin: 3rem 4rem;

  @include respond(S) {
    margin: 1rem;
  }
}

.rightContainer {
  margin: 3rem auto;

  @include respond(S) {
    padding-left: 0;
    h3 {
      padding-left: 2rem;
    }
  }
}

.reminders {
  margin: 2rem 0 5rem 0;
  padding-bottom: 1rem;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  overflow: scroll;
  max-width: 60rem;
  overflow-y: hidden;

  // @include respond(tablet) {
  //   max-width: 45rem;
  // }  
  @include respond(mobile) {
    width: 20rem;
    margin: 2rem auto;
  }

  @include respond(S) {
    width: 17rem;
    margin: 1rem 0.5rem;
  }
}

.reminders::-webkit-scrollbar {
  height: 0.5rem;
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
}

.reminders::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 1rem;
}

.reminderCard {
  width: 11.563rem;
  height: 8rem;
  background: #fff8f6;
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 0.5rem 1rem;
  padding: 0 0.4rem;
  flex: 0 0 auto;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h6 {
    font-size: $fs-p3;
    font-weight: $font-weight-medium;
  }
  p {
    padding-top: 0.2rem;
  }
  span {
    font-weight: $font-weight-bold;
  }
  button {
    background: none;
    border: none;
    text-decoration: underline;
  }
}

.calender {
  width: 40rem;
  height: 30rem;
  margin: 0 2rem;

  @include respond(sDesktop) {
    width: 30rem;
    height: 35rem;
    margin: 0 2rem;
  }
  @include respond(tablet) {
    width: 35rem;
    height: 35rem;
  }
  @include respond(mobile) {
    width: 19rem;
    height: 25rem;
    margin: 0 1rem;
  }
  @include respond(S) {
    width: 17rem;
    height: 25rem;
    margin: 0 1rem;
  }
}
