@import 'varibles';
@import 'mixins';

.landingWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 17.125rem);
  align-items: center;
  justify-content: center;
}

.topSection {
  display: flex;
  margin: 1rem 4rem;

  @include respond(tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.presentsImgWrapper {
  @include respond(tablet) {
    display: none;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  button {
    margin: 1rem;
  }
  @include respond(mobile) {
margin: 3rem auto 1rem auto;
  }
}

.leftColumn {
  margin-right: 5rem;
  max-width: 39rem;

  h2 {
    font-size: 2.3rem;
    color: $color-grey900;
    font-weight: 600;
  }
  span {
    color: $color-primary;
    font-style: italic;
    font-weight: $font-weight-regular;
  }

  p {
    font-size: $fs-p1;
    color: $color-grey900;
    margin-top: 1rem;
  }

  @include respond(tablet) {
    margin: 0 1rem;
    order: 2;

    h2 {
      font-size: $fs-h2;
    }
    p {
      font-size: $fs-p2;
    }
  }
}

.rightColumn {
  width: 300px;
  margin-top: 4rem;

  @include respond(tablet) {
    max-width: 250px;
    margin: 4rem auto;
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    // border-radius: 10px;
    // border: 1px solid lightgray;
  }
}

.cardsSection {
  margin-top: 7rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(217, 248, 255, 0.5);
  box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
  border-radius: 10px;

  @include respond(mobile) {
    background: none;
    margin-top: 1rem;
    box-shadow: none;
  }
}

.card {
  height: 8rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;

  h5 {
    font-size: 0.9rem;
    margin-bottom: 0.313rem;
    text-transform: uppercase;
    color: $color-grey900;
  }

  p {
    color: $color-grey900;
    font-size: $fs-p3;
    padding: 0 1.3rem;
  }

  @include respond(tablet) {
    width: 12rem;
  }

  @include respond(mobile) {
    margin: 0.5rem;
    background-color: rgba(217, 248, 255, 0.5);
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    border-radius: 10px;
    padding: 0;
  }
}

.icon {
  position: absolute;
  top: -2rem;
}

.buttonSection {
  margin: 4rem 0;

  button:first-child {
    margin: 0 1rem 1rem 0;
  }

  button:nth-child(2) {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
