@import 'varibles';

.landingWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.topSection {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.leftColumn {
  margin-right: 7rem;
  max-width: 39rem;

  h2 {
    font-size: 2.3rem;
    color: $color-grey900;
    font-weight: 600;
  }
  span {
    color: $color-primary;
    font-style: italic;
    font-weight: $font-weight-regular;
  }

  p {
    font-size: $fs-p1;
    color: $color-grey900;
    margin-top: 1rem;
  }
}

.rightColumn {
  width: 300px;
}

.buttonSection {
  margin: 2rem 0;

  button {
    margin: 1rem 1rem 0 0;
  }
}

.cardsSection {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(217, 248, 255, 0.5);
  box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
  border-radius: 10px;
}

.card {
  height: 8rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;

  h5 {
    font-size: 0.9rem;
    margin-bottom: 0.313rem;
    text-transform: uppercase;
    color: $color-grey900;
  }

  p {
    color: $color-grey900;
    font-size: $fs-p3;
    padding: 0 1.3rem;
  }
}

.icon {
  position: absolute;
  top: -2rem;
}
