@import 'varibles';
@import 'mixins.scss';

//Container for all content on page
.profileContainer {
  min-height: calc(100vh - 17.125rem);
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem;

  @include respond(tablet) {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
}

//right side with user information
.userInfoContainer {
  margin: 2rem 0 3rem 0rem;
  width: 25rem;
  height: 48.438rem;
  box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tablet) {
    width: 90%;
    height: 25rem;
    margin: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }

  @include respond(mobile) {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
}

.topSection {
  margin-bottom: 3.438rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-size: 20px;
    text-transform: capitalize;
  }

  p {
    margin: 0.5rem 3rem;
    text-align: center;
  }

  @include respond(tablet) {
    align-items: left;
    width: 50%;
  }

  @include respond(mobile) {
    width: 90%;
    p {
      margin: 0.5rem 1.3rem;
    }
  }
}

.middleSection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;

  @include respond(tablet) {
    margin: 0;
  }

  @include respond(mobile) {
    margin: 0 1rem;
    justify-content: center;
  }
}

.dateCard {
  display: flex;
  flex-direction: row;
  margin: 1rem;

  div {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
  }

  @include respond(mobile) {
    margin: 0;
    padding: 0.5rem;
  }
}

.bottomSection {
  margin: 1rem 2rem 0 2rem;
  max-width: 20rem;

  @include respond(mobile) {
    max-width: 40rem;
  }
}

.interestsCards {
  display: inline-flex;
  flex-direction: row;
  margin-top: 0.5rem;

  p {
    margin: 0.5rem 0.625rem 0.5rem 0;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    text-align: center;
    background: #eef3ff;
    box-shadow: 3px 3px 10px 1px rgba(98, 98, 98, 0.12);
    border-radius: 10px;
  }
}

.editButton {
  margin-top: 6rem;
  display: flex;
  justify-content: center;

  @include respond(mobile) {
    margin: 3rem 0;
  }
}

//Left side with wishlists
.wishlistContainer {
  margin: 4.375rem 2rem 3rem 8rem;
  width: 40rem;

  @include respond(tablet) {
    margin: 1rem 2rem 5rem 2rem;
    max-width: 90%;
  }
}

//form for adding new wishlist
.newListWrapper {
  button {
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: white;
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    border-radius: 10px;
    background: $color-primary;
    width: 8.25rem;
    height: 2.188rem;
    border: transparent;
    margin-top: 1rem;
    cursor: pointer;
  }
}

.newListForm {
  margin-top: 2rem;
  box-shadow: 4px 7px 17px 1px rgba(98, 98, 98, 0.14);
  border-radius: 0px 0px 10px 10px;
  max-width: 40rem;
  display: flex;
  flex-direction: column;

  button {
    border: 1px solid #c1c1c1;
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
  }

  @include respond(tablet) {
    max-width: 100%;
  }

  @include respond(mobile) {
    width: 100%;
  }
}

.listHeader {
  display: flex;
  padding: 0 2rem;
  h3 {
    margin-left: 1rem;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.inputWrapper {
  display: flex;
  margin: 1.5rem 0.5rem;

  @include respond(tablet) {
    flex-direction: column;
  }
}

.nameInput {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  input {
    box-shadow: 3px 3px 10px 1px rgba(98, 98, 98, 0.12);
    border-radius: 10px;
    border: transparent;
    height: 2rem;
    width: 17rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    outline: none;
  }

  @include respond(tablet) {
    input {
      width: 12rem;
    }
  }
}

.categorieWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;

  @include respond(tablet) {
    margin: 1rem 0 1rem 1rem;
    flex-wrap: wrap;
  }
}

.radioButtonsWrapper {
  margin-top: 0.5rem;
}

.radioButton {
  label {
    padding-left: 1rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-bottom: 1rem;
  button {
    background: $color-primary;
    color: white;
    border: transparent;
  }

  @include respond(tablet) {
    margin-left: 2rem;
    margin-right: 0;
  }

  @include respond(mobile) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

//all wishlists
.wishlistsWrapper {
  margin-top: 3rem;
}

.wishlist {
  box-shadow: 4px 7px 17px 1px rgba(98, 98, 98, 0.14);
  border-radius: 10px;
  max-width: 40rem;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;

  div {
    padding: 0.3rem 0;

    h4 {
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  @include respond(tablet) {
    width: 90%;
  }

  @include respond(mobile) {
    width: 100%;
    h4 {
      font-size: 14px;
    }
  }
}

.iconTitleWrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
  }
}

.deleteBtn {
  button {
    height: 2rem;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

.wrapper {
  input {
    height: 2rem;
  }
}

.addedItems {
  margin: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.itemInWishlist {
  display: flex;
  li {
    padding-bottom: 0.3rem;
  }
  button {
    margin-left: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background: none;
    color: $color-primary;
    cursor: pointer;
  }
}

.formContainer {
  padding-bottom: 1rem;

  input {
    background: #f5f5f5;
    box-shadow: 1px 1px 7px 1px rgba(98, 98, 98, 0.14);
    border-radius: 7px;
    border: transparent;
    padding-left: 1rem;
    outline: none;
  }

  button {
    margin-left: 1rem;
    margin-top: 0.5rem;
    background: transparent;
    border: none;
  }
}

//friends page follow and onfollow option
.follow {
  margin-top: 2rem;
  padding: 0.125rem 0.625rem;
  text-align: center;
  min-width: 4rem;
  min-height: 2rem;
  box-shadow: 0.5rem 0.688rem 1.563rem 0.063rem rgba(98, 98, 98, 0.13);
  border-radius: 0.938rem;
  border: 1px solid $color-primary;
  background-color: $color-white;
  font-weight: 600;
  color: $color-primary;
  letter-spacing: 0.05rem;
  font-size: $fs-p3;
  cursor: pointer;
  text-transform: uppercase;
}

.unFollow {
  margin-top: 2rem;
  padding: 0.125rem 0.625rem;
  text-align: center;
  min-width: 4rem;
  min-height: 2rem;
  box-shadow: 0.5rem 0.688rem 1.563rem 0.063rem rgba(98, 98, 98, 0.13);
  border-radius: 0.938rem;
  border: none;
  background-color: $color-primary;
  font-weight: 400;
  color: $color-white;
  letter-spacing: 0.05rem;
  font-size: $fs-p3;
  cursor: pointer;
  text-transform: uppercase;
}
