@import 'varibles';

.profileContainer {
  min-height: calc(100vh - 17.125rem);
  display: flex;
}

.userInfoContainer {
  margin-left: 4.375rem;
  margin-bottom: 2.5rem;
  width: 25rem;
  min-height: 48.438rem;
  box-shadow: 4px 5px 18px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.75rem;
}

.topSection {
  margin-bottom: 3.438rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0.5rem 0;
  }
}

.middleSection {
  display: flex;
  flex-wrap: wrap;
}

.dateCard {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem 1rem 0;

  div {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
  }
}

.bottomSection {
  margin-top: 3.438rem;
}

.interestsCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  p {
    margin: 0.5rem 0.625rem 0.5rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
    background: #eef3ff;
    box-shadow: 3px 3px 10px 1px rgba(98, 98, 98, 0.12);
    border-radius: 10px;
  }
}

.editButton {
  margin-top: 4rem;
}

.wishlistContainer {
  margin: 4.375rem 0 0 6rem;
  button {
    margin-top: 2rem;
  }
}

.wishlistsWrapper {
  margin-top: 3rem;
  
}

.wishlist {
  box-shadow: 4px 7px 17px 1px rgba(98, 98, 98, 0.14);
  // border: 2px solid green;
  border-radius: 10px;
  width: 47rem;
  // display: flex;
  // flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;

  div {
    // display: flex;
    padding: 0.3rem 0;
    
    h4 {
      padding: 0.5rem;
    }
  }
}
.iconTitleWrapper {
  margin-top: 1rem;
  display: flex;
}

.wrapper {
  // border: 2px solid blue;
  // display: flex;
  // flex-direction: column;
  input {
    height: 2rem;
  }
}

.addedItems {
  margin: 0.5rem;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.newListWrapper {
  button {
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: white;
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    border-radius: 10px;
    background: $color-primary;
    width: 8.25rem;
    height: 2.188rem;
    border: transparent;
    margin-top: 1rem;
    cursor: pointer;
  }
}

.newListForm {
  margin-top: 2rem;
  box-shadow: 4px 7px 17px 1px rgba(98, 98, 98, 0.14);
  border-radius: 0px 0px 10px 10px;
  button {
    border: 1px solid #c1c1c1;
    box-shadow: 8px 11px 25px 1px rgba(98, 98, 98, 0.13);
    border-radius: 10px;
    width: 6.375rem;
    height: 2.375rem;
  }
}

.listHeader {
  display: flex;
  padding: 0 2rem;
  h3 {
    margin-left: 1rem;
  }
}

.inputWrapper {
  display: flex;
  margin: 1.5rem 2rem 0 2rem;
}

.nameInput {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  input {
    box-shadow: 3px 3px 10px 1px rgba(98, 98, 98, 0.12);
    border-radius: 10px;
    border: transparent;
    height: 2rem;
    width: 17rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
  }
}

.categorieWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.radioButtonsWrapper {
  margin-top: 0.5rem;
}

.radioButton {
  label {
    padding-left: 1rem;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-bottom: 1rem;
  button {
    background: $color-primary;
    color: white;
    border: transparent;
  }
}
