$color-primary: #FF6E83;
$color-secondary: #FFC855;
$color-accent-purple: rgba(191, 110, 255, 1);
$color-accent-purple: rgba(110, 151, 255, 1);

$color-primary-lighter: #FFAAB6;
$color-primary-darker: #e65268;

$color-grey900: #2B2B2B;
$color-grey800: #595959;
$color-grey600: #8A8A8A;
$color-grey400: #C1C1C1;
$color-grey300: #E0E0E0;
$color-grey200: #FAFAFA;

$color-black: #000;
$color-white: #FFF;

$fs-h2: 2rem;
$fs-h3: 1.5rem;
$fs-h4: 1.25rem;
$fs-h5: 1rem;

$fs-p1: 1.125rem;
$fs-p2: 1rem;
$fs-p3: 0.875rem;
$fs-p4: 0.75rem;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;